/*
Theme: Halim
Author: Abdullah Nahian
Version: 1.0
Description: Halim MUltipurpose WordPress Theme
Tags: Business, Corporate, Responsive
*/

/* Comment CSS */


.comment-author.vcard img {
    max-width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
  }
  .commentlist {
    padding: 0;
    list-style: none;
    margin-top: 15px;
  }
  .commentlist ol li {
    position: relative;
  }
  .commentlist ol li img {
    position: absolute;
  }
  .commentlist li {
    padding-left: 60px;
  }
  
.children {
    padding: 0;
    list-style: none;
    margin: 20px 0;
  }
  .children .comment-author.vcard img {
    left: 60px;
  }
  .comments input, .comments textarea {
	margin-bottom: 5px;
}
#wp-comment-cookies-consent {
	width: auto;
}

/* Custom Widget CSS */

#calendar_wrap table {
	width: 100%;
}
.single-footer {
	margin-bottom: 30px;
}